extends layout

block content

  h1 #{title}
  
  // The form tag directs data to the controller's post action
  form(action='/questions', method='POST')
    div.form-group
      input#name(type='text', name='question', placeholder='question goes here', required)
      
    div.form-group
      button(type='submit') Submit