extends layout

block content
  .game-grid
    each game in games
      a.game-card(href='/game/' + game.id)
        .game-image-container
          img(src=game.image || '/images/default.png', alt=game.name)
        .game-details
          .game-name= game.name
          .game-description= game.description
          .game-action
            span Consult Coach &rarr;