extends layout

block content

  h2 Question
  
  form(action='/questions', method='POST')
    div.form-group
      input#name(type='text', name='question', placeholder='type here', required)
    p
    div.form-group
      button(type='submit') Submit