extends layout

block content

  h1 Question
  
  form(action='/questions', method='POST')
    div.form-group
      input#name(type='text', name='question', placeholder='question goes here', required)
      
    div.form-group
      button(type='submit') Submit