doctype html
html
  head
    title Emerald Tavern - Game Master
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      header
        h1.tavern-title Emerald Tavern34 <span>Master</span>
        p.tavern-subtitle Seek wisdom from the game master...
      block content
