doctype html
html
  head
    title Charles Schwab - Wealth Management &amp; Bayesian Risk Advisor
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container
      block content
